.app-div {
    max-height: 100vh;
    margin: 10px auto;
}

.jk-tweet, .pika-tweet {
    display: flex;
    height: 100px;
    overflow: scroll;
    border: double black;
    padding: 3px;
    font-family: 'Courier Prime', monospace;
}
#lightning-id {
    position: fixed;
    width: 40%;
    left: 100px;
    top: -30px;
    
}
.hide-lightning {
    display: none;
}


.jk-tweet span, .pika-tweet span {
    display: block;
    margin: auto;
    padding: 0 10px;
}


.error {
    display: flex;
}
.error p {
    color: #fff;
    font-size: 20px;
    margin: auto;
}




/* //Animation */
.ko-animation-origin {
    opacity: 1;
    transition: transform 1s, opacity 0.5s ease;
}

.ko-animation {
    transform: translateY(400px);
    opacity: 0;
}
#btn-fixed {
    margin: auto;
    align-items: center;
}

.blink-class {
    transition: transform 1s, opacity 0.5s ease-in;
}


/* // FOOTER // */

footer {
    font-size: 12px;
    margin: 50px 0 8px 0;
    height: 70px;
}
.elem {
    height: 70px;
        /* bring the footer closer to the content */
    vertical-align: middle;
    line-height: 120px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
}



/* Icones custom */
#logos a {
margin: 0 10px;
color: #000;
opacity: 0.6;
transition: all ease 300ms;
}
#logos a:hover {
    opacity: 0.5;
}
